<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yeokm1.nussocprintandroid"
    android:versionCode="17"
    android:versionName="0.5.7" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:installLocation="auto"
        android:label="@string/app_name" >
        <activity android:name="com.lamerman.FileDialog" >
        </activity>
        <activity
            android:name="ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat" 
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- PDF -->
                <data android:mimeType="application/pdf" />
                <!-- DOC -->
                <data android:mimeType="application/msword" />
                <!-- DOCX -->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <!-- PPT -->
                <data android:mimeType="application/vnd.ms-powerpoint" />
                <!-- PPTX -->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
                <!-- ODT -->
                <data android:mimeType="application/vnd.oasis.opendocument.text" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="378cecf7f2dce6ec0029267d0ebebd246b5339e5" />
    </application>

</manifest>